<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<th:block th:replace="fragment::top"></th:block>
<head>
    <div th:replace="fragment :: top"></div>
    <title>Add a lost item</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>


<!--<div th:replace="fragment :: navbar"></div> -->
<div th:replace="fragment :: navlinks"></div>

<div class="body-content">
    <div class="col-sm">
        <h1>Add Lost Items</h1>
        <form class="form" action="#" th:action="@{/addlostitem}" th:object="${reportitem}" method="post">
            <input type="hidden" th:field="*{id}">

            <label >Item</label>
            <span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></span>
            <input type="text" placeholder="Item" class="form-control" th:field="*{itemName}">

            <label >Item Type:</label>
            <span th:if="${#fields.hasErrors('itemType')}" th:errors="*{itemType}"></span>
            <select th:field="*{itemType}">
                <option value="Clothes">Clothes</option>
                <option value="Pets">Pets</option>
                <option value="Other">Other</option>
            </select>


            <label >Item Description</label>
            <span th:if="${#fields.hasErrors('itemDesc')}" th:errors="*{itemDesc}"></span>
            <input type="text" placeholder="Item Description" class="form-control" th:field="*{itemDesc}">

            <label >Item Status:</label>
            <span th:if="${#fields.hasErrors('itemStatus')}" th:errors="*{itemStatus}"></span>
            <select th:field="*{itemStatus}">
                <option value="Lost">Lost</option>
            </select>

            <label >Item Image</label>
            <span th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>
            <input type="url" placeholder="Item Image" class="form-control" th:field="*{image}">

            <button type="submit" class="btn btn-default">Save</button>


        </form>
    </div>
</div>

<section>
    <span th:replace="fragment::bootstrap4js"></span>
</section>
</body>
</html>

